code{
    background-color: white;
    border: 0;
    margin: auto;
    border: 5px solid #ddd;
    display: block;
    font-size: 15px;
    word-wrap: break-word;
    font-family: monospace;
    line-height: 2.6;
    padding: 1em 1.5em;
}

ul{
    margin: 0;
    padding: 0;
    
}

 ul a{
     display: block;
 }

 #main-section{
     float: left;
 }

 #main-doc header{
     text-align: left;
     margin: 0;
 }

 header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }

 .vl {
    border-left: 15px solid green;
    height: 500px;
    text-align: center;
  }

  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    font-size: 16px;
    background-color: #ddd;
    font-size: 20px;
    color: white;
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

#list{
    text-indent: 50px;

}

@media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
}
  